.important-words {
    color: var(--naranjaPrincipal);
    font-weight: 700;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Estilos del main */

/* Articulo de bienvenida */
.presentation-article-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.presentation-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 50px;
    background: linear-gradient(var(--azulOscuro) 30%, #000b);/* var(--azulOscuro); */
    color: #fff;
    padding: 20px 60px;
}

.presentation-article__header {
    width: 40%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
}

.presentation-article__header-title {
    font-size: 55px;
    color: var(--rojoPrincipal);
    font-weight: 900;
    letter-spacing: 1px;
}

.presentation-article__header-paragraph {
    font-size: 16px;
    line-height: 28px;
    text-wrap: balance;
    font-weight: 400;
}

.presentation-article__header-main-span {
    color: var(--rojoPrincipal);
    font-weight: 900;
    font-size: 22px;
    padding: 0px 0px 0px 5px;
}

.presentation-article__header-button {
    padding: 10px;
    border: 3px solid var(--rojoBoton);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.presentation-article__header-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 47px;
    transition: 0.3s;
    background-color: var(--rojoPastel);
}

.presentation-article__image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.presentation-article__image-container__image,
.information-article__section-image {
    max-height: 450px;
    max-width: 450px;
    object-fit: cover;
}

/* Sección de información */
.information-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 50px;
    background-color:#fff;
    padding: 60px;
}

.information-article__header-title {
    color: var(--naranjaPrincipal);
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.information-article__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.information-article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.information-article__section-paragraph {
    text-wrap: balance;
    font-size: 16px;
    line-height: 28px;
    max-width: 80%;
}

.information-article__section-title {
    font-size: 23px;
    font-weight: 700;
    color: #222e;
}

.information-article__section > ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.information-article__aside-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.information-article__section-icon {
    max-height: 20px;
    max-width: 20px;
    color: #1b1;
    margin: 0px 12px 0px 0px;
}

.information-article__section-span {
    font-size: 16px;
}

.information-article__aside {
    padding: 40px 0px 0px 0px ;
}

.information-article__aside-paragraph {
    text-wrap: balance;
    font-size: 16px;
    line-height: 28px;
}