* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --rojoPrincipal: #D43F3F;
    --rojoPastel: #E87F7F;
    --rojoBoton: #ED4A4A;
    --naranjaPrincipal: #ea580c; 
    --azulClaro: #0D1219;
    --azulOscuro: #010409;
}

body {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    background-color: var(--azulClaro);
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* Estilos del nav-bar */

.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--azulOscuro);
    color: #fff;
}

.menu-bar__logo {
    background-image: url('../images/logoStudySolve.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 200px;
    height: 70px;
}

.menu-bar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px 50px;
    padding: 0px 30px 0px 0px;
}

.menu-bar__links__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 100px;
    margin: 0px 40px 0px 0px;
}

.menu-bar__links__list-link {
    color: #fff;
    font-size: 16px;
}

.menu-bar__links__list-link:hover {
    border-bottom: 1px solid #fff;
}

.menu-bar__login-container {
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
    margin: 0px -10px 0px 20px; 
}

.menu-bar__login-container-button {
    background-color: var(--rojoBoton);
    padding: 11px 18px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.menu-bar__login-container-button:hover {
    background-color: var(--rojoPastel);
    transition: 0.5s;
}

/* Estilos del Footer */
.footer {
    background-color: var(--azulOscuro);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer__header-title {
    font-size: 23px;
    color: #fff;
}

.footer__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.footer__article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px 0px 0px;
}

.footer__article__list > li {
    display: flex;
    align-items: center;
}

.footer__article__list-icon {
    width: 25px;
    height: 25px;
    margin: 0px 15px 0px 0px;
    color: #ddd;
}

.facebook-icon {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 140px #fff;
}

.footer__article__list-span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.footer__article__aside {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.footer__article__aside-app-icon {
    background-image: url('../images/logoStudySolve.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    height: 150px;
}   

.footer__article__aside-title {
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}
