* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --rojoPrincipal: #D43F3F;
    --rojoPastel: #E87F7F;
    --rojoBoton: #ED4A4A;
    --naranjaPrincipal: #ea580c;
    --naranjaPastel: #f97; 
    --azulClaro: #192834; /* #0C1D2B; */
    --azulOscuro: #0b1826;
    --azulBoton: #1b364f;
}

body {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    scrollbar-gutter: stable;
}

main {
    margin: 90px 0px 0px 0px;
    flex: 1;
    background: var(--azulClaro);
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* Estilos del nav-bar */

.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulOscuro);
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu-bar__header {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 350px;
    background-color: var(--azulOscuro);
    padding: 10px 0px 10px 10px;
}

.menu-bar__toggle-menu__link__button,
.menu-bar__header__toggle-button {
    background-color: var(--azulOscuro);
    height: 60px;
    width: 60px;
    border: none;
}

.menu-bar__header__toggle-button:hover {
    background-color: var(--azulBoton);
    border-radius: 50%;
    transition: 0.3s;
}

.menu-bar__toggle-menu__link__button__icon,
.menu-bar__header__toggle-button__icon {
    color: #fff;
    font-size: 26px;
}

.menu-bar__header__logo {
    object-fit: cover;
    overflow: hidden;
    width: 180px;
    height: 70px;
}

.menu-bar__login-links {
    display: flex;
    flex-direction: row;
    gap: 0px 20px; 
    padding: 0px 30px 0px 0px;
}

.menu-bar__login__button {
    background-color: var(--rojoBoton);
    padding: 11px 18px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.menu-bar__login__button:hover {
    background-color: var(--rojoPastel);
    transition: 0.5s;
}

/* Background oscuro del menu desplegable */
.menu-bar__dark-background {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: #0004; 
    z-index: 1;
}

/* Animación del menu desplegable; */

/* Mostrar */
@keyframes showAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Ocultar */ 
@keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Estilos menu desplegable */
.menu-bar__toggle-menu {
    background-color: var(--azulOscuro);
    min-width: 350px;
    height: 100%;
    position: fixed;
    flex-grow: 1;
    z-index: 2;
}

.menu-bar__toggle-menu__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}

.menu-bar__toggle-menu__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-bar__toggle-menu__link {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 0.5rem;
}

.menu-bar__toggle-menu__link__button:hover,
.menu-bar__toggle-menu__link:hover {
    background-color: var(--azulBoton);
}

.menu-bar__toggle-menu__link__button__icon {
    font-size: 22px;
}

.hidden {
    display: none;
}

/* Estilos del Footer */
.footer {
    background-color: var(--azulOscuro);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer__header-title {
    font-size: 23px;
    color: #fff;
}

.footer__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.footer__article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px 0px 0px;
}

.footer__article__list > li {
    display: flex;
    align-items: center;
}

.footer__article__list-icon {
    width: 25px;
    height: 25px;
    margin: 0px 15px 0px 0px;
    color: #ddd;
}

.facebook-icon {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 140px #fff;
}

.footer__article__list-span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.footer__article__aside {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.footer__article__aside-app-icon {
    object-fit: cover;
    overflow: hidden;
    width: 350px;
    height: 150px;
}   

.footer__article__aside-title {
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}
