/* Estilos del Main */

main {
    padding: 0px 100px;
    color: #fff;
    flex: 1;
}

/* Estilos de la barra de busqueda */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 30px 20px;
    gap: 25px;
}

.main-header__title {
    font-size: 38px;
    font-weight: 900;
}

.main-header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header__search-input {
    width: 400px;
    padding: 12px 20px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    box-shadow: 0px 0px 5px #5555;
    font-size: 17px;
}

.main-header__search-input:focus {
    outline: 1px solid #39f;
}

.main-header__search-button {
    padding: 13px 30px;
    background-color: #111d;
    color: #fff;
    font-weight: 700;
    border-radius: 0px 5px 5px 0px;
}

.main-header__search-button:hover {
    background-color: #555;
    transition: 0.2s;
}

/* Estilos del contenedor del articulo principal (Con la sección de temas de estudio y publicaciones */
.main-article {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
}

/* Estilos de la cuadricula de temas de estudio */
.main-article__topics-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-article__topics-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    gap: 20px;
    border-radius: 0.5rem;
    height: 180px; 
    width: 300px;
    min-width: 250px;
    padding: 25px 30px;
    background-color: var(--naranjaPrincipal);
    color: #fff;
}

.main-article__topics-card:hover {  
    transition: 0.7s;
    /* background-color: var(--naranjaPastel); */
    background-color: #ed8851;
}

.topics-card__title {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}

/* Estilos de la sección de publicaciones */

/* Estilos de la sección de publicaciones recientes */
.main-article__recent-posts {
    display: flex;
    flex-direction: column;
    background-color: var(--azulOscuro);
    flex: 1;
    border-radius: 5px;
    padding: 30px;
}

.recent-posts__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 25px 0px;
}

.recent-posts__header__title {
    font-size: 25px;
}

.recent-posts__header__link {
    background-color: var(--rojoBoton);
    text-align: center;
    padding: 10px 20px;
    border-radius: 2rem;
    font-weight: 700;
}

.recent-posts__header__link:hover {
    background-color: var(--rojoPastel);
    transition: 0.5s;
}

.recent-posts__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 35px;
}

.recent-posts__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--azulClaro);
    width: 251px;
    padding: 0px 0px 20px 0px;
    border: 1px solid #888;
}

/* Estilos de cada elemento de publicación reciente */
.recent-posts__item-image {
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    overflow: hidden;
}

.recent-posts__item-header, .recent-posts__author-info {
    padding: 0px 20px;
}

.recent-posts__item-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.recent-posts__item-title {
    font-size: 22px;
}

.recent-posts__item-description {
    font-size: 16px;
    line-height: 28px;
    color: #ddde;
}

.recent-posts__author-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 13px;
}

.recent-posts__author-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #fff;
}

.recent-posts__author-name {
    font-size: 15px;
}

.recent-posts__post-date {
    font-size: 14px;
    color: #bbb;
}